<!doctype html>
<html lang="ua" ng-app="ZSEACardBuilder">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"  />
  <title>Difference</title>

  <!-- build:script bundle -->
  <!-- /build -->

  <!-- build:style bundle -->
  <!-- /build -->
</head>
<body ng-controller="DiffController" id="diff-page">
  <h1 class="text-align-center" ng-if="persons.length == 0 && persons.$promise.$$state.status !== 0">
    Всі дані синхронізовані!
  </h1>

  <div ng-repeat="person in persons" class="person">
    <header ng-click="checkPerson(person)"
            ng-class="{ 'ok': person.differences.length == 0, 'diff': person.differences.length > 0 }">
      <h3>
        {{ person.fio }}
        <small>
          {{ person.PersonCodeU }}
        </small>
      </h3>
    </header>

    <content ng-if="person.differences.length > 0">
      <div ng-repeat="item in person.differences" class="diff-item">
        <b class="name" ng-bind="item.key"></b>
        <pre ng-bind="item.diff.lhs"></pre>
        <pre ng-bind="item.diff.rhs"></pre>
      </div>
    </content>

    <footer ng-if="person.differences.length > 0">
      <button class="recheck" ng-click="recheck(person)">Перевірити знову</button>
      <button class="reset"   ng-click="reset(person)">Оновити локальні дані</button>
      <button class="dismiss" ng-click="dismiss(person)">Не звертати уваги</button>
    </footer>
  </div>
</body>
</html>
