<!doctype html>
<html lang="ua" ng-app="ZSEACardBuilder">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"  />
  <title>Накази</title>

  <!-- build:script bundle -->
  <!-- /build -->

  <!-- build:style bundle -->
  <!-- /build -->
</head>
<body ng-controller="MainController">
  <div class="overlay shaded"
       ng-if="!isOrdersSelected()" ng-include="'/partials/OrdersView.html'"
       ng-controller="OrdersController">
  </div>

  <div class="sidebar" ng-include="'/partials/SidebarView.html'"></div>

  <div class="order-details">
    <div>
      Вибрані накази:
    </div>

    <div class="list-orders" ng-repeat="order in getOrders()">
      <div>
        <span class="order-number" ng-class="{loaded: order.loaded}" ng-bind="order.number"></span>
      </div>
      <div class="small">
        <b ng-bind="order.qualification"></b>
      </div>
      <div class="small">
        <b class="order-payment" order="order" ng-bind="order.payment"></b>
      </div>
      <div class="small">
        <b ng-bind="order.form"></b>,
        <b ng-bind="order.course"></b>к.
      </div>
    </div>
  </div>

  <div ng-controller="PersonsController" class="person-view-wrapper"
       ng-include="'/partials/PersonsView.html'">
  </div>

  <div class="url" ng-show="lastHash">
    успішно сгенеровано сторінку
    <a href="/print/{{lastHash}}" target="_blank">/print/{{ lastHash }}</a>

    <button type="button" class="close" ng-click="lastHash = undefined">
      &times;
    </button>
  </div>
</body>
</html>
