<!doctype html>
<html lang="ua" ng-app="ZSEACardBuilder">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"  />
  <title>Printing</title>

  <!-- build:script bundle -->
  <!-- /build -->

  <!-- build:style bundle -->
  <!-- /build -->
</head>
<body ng-controller="PrintController">
  <div ng-if="info.action == 'cards'"
       ng-include="'/partials/CardsView.html'"></div>

  <div ng-if="info.action == 'extractions'"
       ng-include="'/partials/ExtractionsView.html'"></div>

  <div ng-if="info.action == 'infocards'"
       ng-include="'/partials/InfoCardsView.html'"></div>

  <div ng-if="info.action == 'speccards'"
       ng-include="'/partials/SpecCardsView.html'"></div>
</body>
</html>
