$button-primary-color: green

@mixin button-style($color)
  border-color: darken($color, 15)
  background-color: $color

  &:hover
    background-color: lighten($color, 2)
  &:active
    background-color: lighten($color, 10)

button
  border-width: 2px
  border-style: solid
  padding: 5px 10px
  cursor: pointer

  &:focus
    outline-width: 0px

button.primary
  @include button-style(rgb(48, 148, 44))
  color: white
