table.card
  page-break-inside: avoid
  width: 100%
  border-collapse: collapse
  margin-bottom: 1px
  font-family: serif
  font-size: 9pt

  tr:first-child
    background-color: $shaded-color

  td
    border: 1px solid black
    padding: 3px

  &.fio
    font-size: 19pt

  .controls
    display: none

@media screen
  .controls
    display: table-row !important

  [contenteditable]
    border: 1px solid black
    min-height: 20px
    padding: 0px 5px
    display: inline

  table.card
    +light-surface-style
    max-width: 800px
    margin: 15px auto
    font-size: 14pt

    td
      border: 1px solid #CCCCCC
