@import "misc"

$icon-font-path: "/fonts/bootstrap/"
@import "bootstrap/mixins"
@import "bootstrap/variables"
@import "bootstrap/glyphicons"
@import "bootstrap/labels"
@import "bootstrap/close"
@import "bootstrap/utilities"
@import "bootstrap/forms"

@import "overrides"

// font sizes
=font-size-default
  font-size: 12pt

=font-size-large
  font-size: 22pt

=font-size-important
  font-size: 16pt

// colors
$shaded-color: rgb(230, 230, 230)
$selection-color: rgb(0, 140, 255)
$selection-highlight: rgba(255, 221, 0, 0.2)
$success-color: rgb(6, 119, 28)
$error-color: rgb(233, 20, 20)
$useless-color: rgb(76, 76, 76)

// styles
=surface-style
  background-color: #fff
  box-shadow: 2px 2px 5px #CECECE

=light-surface-style
  background-color: #fff
  box-shadow: 1px 1px 10px #ADADAD

=inverted-surface-style
  background-color: $shaded-color
  box-shadow: 1px 1px 3px #333
