#diff-page
  max-width: 1000px
  margin: 0px auto
  background-color: $shaded-color

  .person
    +surface-style
    padding: 10px
    margin-top: 10px

    header
      cursor: pointer
      &.ok
        color: #1FCC1F
      &.diff
        color: #F16D20

      h3
        margin: 0px

    content
      display: block
      margin-bottom: 10px

    footer
      text-align: center

  button.recheck
    +button-style(#1FCC1F)
  button.reset
    +button-style(#FFDE4C)
  button.dismiss
    +button-style(#F16D20)

  .diff-item
    padding-top: 5px
    border-bottom: 1px solid $shaded-color

    b
      display: block

    pre
      display: inline-block
      margin: 0px
      width: 49%
      padding: 5px
      color: #1FCC1F

      &:last-child
        color: #F16D20
        border-left: 1px solid $shaded-color
