.extraction
  page-break-inside: avoid
  font-size: 10pt
  padding-top: 10px
  font-family: serif

  .float-left
    float: left
  .float-right
    float: right
  .text-align-center
    text-align: center

  h1, h2
    font-size: 12pt
    text-align: center
    margin: 0px 0px 5px 0px

  h2
    font-weight: 400

  p:after, p:before
    clear: both
    content: ''
    display: block

  p
    margin: 5px 0px 0px 0px

    &.padded
      padding-top: 10px
    &.list
      padding-left: 1em
      padding-bottom: 0.5em
    &.strong
      font-weight: 700

  ol
    margin-top: 0px

  .underlined
    text-decoration: underline
 
  span.speciality
    font-weight: 700
    font-variant: small-caps
    font-size: 15pt