$sidebar-width: 200px
$details-height: 100px
$requests-meter-left-side-width: 63px

.sidebar
  +inverted-surface-style
  width: $sidebar-width
  position: fixed
  left: 0px
  top: 0px
  bottom: 0px
  padding: 5px

  .button-wrapper
    margin: 3px 0px

    button
      width: 190px
      text-align: left

  .separated
    margin-top: 20px

.order-details
  +surface-style
  padding: 7px 15px
  height: $details-height
  position: fixed
  left: $sidebar-width
  right: 0px
  top: 0px
  overflow-x: auto

  .list-orders
    display: inline-block
    padding-right: 10px
    padding-right: 5px
    padding-left: 5px
    border-left: 1px solid #D6D6D6
    margin-top: 3px

    &:nth-child(2)
      border-left-width: 0px
      padding-left: 0px

    .small
      font-size: 12px

    .order-number
      color: $error-color

      &.loaded
        color: $useless-color
        font-weight: 700

.person-view-wrapper
  margin: 15px
  margin-top: $details-height + 15px
  margin-left: $sidebar-width + 15px
  margin-bottom: 45px

.requests-meter
  margin-bottom: 10px
  display: flex

  &:after
    content: ''
    clear: both
    display: block

  .left-side
    font-size: 12px
    padding-top: 2px
    text-align: right
    line-height: 1
    max-width: 70px

  .right-side
    font-size: 30px
    text-align: left
    line-height: 1
    flex-shrink: 0
    flex-grow: 1
    padding-left: 3px


.url
  +surface-style
  position: fixed
  left: $sidebar-width
  right: 0px
  bottom: 0px
  padding: 7px
  height: 30px

  a
    font-weight: 700

  .close
    margin-top: -2px
