@import "overlay"
@import "constants"

.order-selector
  max-height: 500px
  overflow-x: hidden
  overflow-y: auto

  header
    +font-size-important

    .order-number
      color: $error-color
    &.verified .order-number
      color: $success-color

  ul
    +undecorated-list

    li
      margin-top: 2px
      padding: 5px 35px 5px 9px
      position: relative
      cursor: default

      .confirm
        position: absolute
        cursor: pointer
        right: 0px
        bottom: 0px
        top: 0px
        width: 30px
        display: none

        &:before
          +inverted-surface-style
          position: absolute
          display: flex
          align-items: center
          right: 0px
          bottom: 0px
          top: 0px
          width: 30px
          content: "\e080"
          font-family: "Glyphicons Halflings"
          color: rgb(255, 255, 255)
          font-weight: 700
          text-shadow: 0px 1px 2px rgb(111, 111, 111)
          font-size: 22px
          padding-left: 3px
          box-sizing: border-box

        &:hover:before
          +surface-style

      content.details
        font-size: 14pt

      &.selected
        border-left: 4px solid $selection-color
        padding-left: 5px
        background-color: $selection-highlight

        .confirm
          display: block

    &.order-all
      margin-bottom: 25px

      li header
        .order-number
          color: $useless-color

        .uncheck-all
          color: gray
          cursor: pointer

          &:hover
            color: $error-color
            border: 0px

        .check-all
          color: gray
          cursor: pointer

          &:hover
            color: $success-color
            border: 0px

      div.filters
        display: -webkit-box
        display: -moz-box
        display: -o-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-wrap: wrap
        -moz-flex-wrap: wrap
        -o-flex-wrap: wrap
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        -webkit-box-pack: space-between
        -moz-box-pack: space-between
        -ms-flex-pack: space-between
        -webkit-justify-content: space-between
        justify-content: space-between

        span.filter
          -webkit-flex-shrink: 0
          -moz-flex-shrink: 0
          -o-flex-shrink: 0
          -ms-flex-shrink: 0
          flex-shrink: 0
          -webkit-flex-grow: 0
          -moz-flex-grow: 0
          -o-flex-grow: 0
          -ms-flex-grow: 0
          flex-grow: 0

          label
            top: -3px
            left: -3px
            position: relative
            cursor: pointer

          input
            cursor: pointer

    li.group-header
      font-weight: 700
      position: static
      padding: 0px
      margin-top: 30px
      color: $useless-color

      &:first-child
        margin-top: 0px

  .order-qualification
    +font-size-important
