@import "constants"

.overlay
  position: fixed
  width: 100%
  z-index: 99

  .overlay-wrapper
    position: relative
    z-index: 101
    +surface-style

    width: 500px
    margin: 0px auto

    > header
      +font-size-large
      padding: 10px 20px

      input.search-order
        width: 125px

    > content
      padding: 10px

  &.shaded::before
    content: ""
    background-color: fade-out($shaded-color, 0.1)

    position: fixed
    z-index: 100

    width: 100%
    height: 100%
    top: 0px
    left: 0px

  &.ng-hide-add, &.ng-hide-remove
    transition: 0s linear all

  &.ng-hide-add-active,
  &.ng-hide-remove-active
    transition: 200ms ease-in-out  opacity

  &.ng-hide-add
    opacity: 1
    mouse-events: none

  &.ng-hide-add-active
    opacity: 0
