@import "constants"

table.persons-view
  width: 100%
  border-collapse: collapse
  font-size: 14pt

  th
    background-color: rgb(226, 226, 226)
    border: 1px solid black
    padding: 5px

    &:nth-child(1)
      text-align: center
      width: 60px
    &:nth-child(2)
      width: 50%

  tr
    &.divider
      border-bottom: 3px solid black

    &.selected
      background-color: $selection-highlight

    td
      border: 1px solid silver
      padding: 5px
      cursor: pointer

      &:nth-child(1)
        text-align: center
