table.speccard
  width: 100%
  border-collapse: collapse
  margin-bottom: 1px
  font-family: serif
  font-size: 9pt

  thead

    tr:first-child
      background-color: $shaded-color

  td, th
    border: 1px solid black
    padding: 3px

  td
    text-align: center

  td.left
    text-align: left

    img.photo
      max-width: 100px