@import "constants"
@import "orders"
@import "persons-view"
@import "main"
@import "button"
@import "cards"
@import "extractions"
@import "infocards"
@import "speccards"
@import "diff-page"

*
  box-sizing: border-box

content
  display: block

small
  color: gray
  font-size: 0.85rem

.text-align-center
  text-align: center

body
  +font-size-default
  font-family: sans-serif
  margin: 0px

.order-payment.budget
  color: $success-color
  font-weight: 700

a
  color: $selection-color
  text-decoration: none

  &:hover
    border-bottom: 1px dashed $selection-color
