<table class="card" ng-repeat="card in info.persons">
  <tr>
    <td colspan="4" class="fio">
      ПІБ: <span contenteditable ng-model="card.fio"></span>
    </td>
  </tr>

  <tr>
    <td>
      Група:
      <b>
        {{ getSpecialityShortName(card.speciality) }}-{{ getYear() }}
      </b>
    </td>
    <td>
      {{ card.order.payment }}
    </td>
    <td>
      № контракта:
    </td>
    <td>
      Стать: {{ card.sex }}
    </td>
  </tr>

  <tr>
    <td colspan="2">
      Народився: <span contenteditable ng-model="card.birthplace"></span>
    </td>
    <td>
      Дата народження: {{ card.birthdate | date: 'dd.MM.yyyy' }}
    </td>
    <td>
      гуртожиток: так / ні
    </td>
  </tr>

  <tr>
    <td colspan="4">
      Адреса: <span contenteditable ng-model="card.address"></span>
    </td>
  </tr>

  <tr>
    <td colspan="4">
      Паспорт: <span contenteditable ng-model="card.passport.number"></span>
      виданий "<span contenteditable ng-model="card.passport.givenBy"></span>"
      {{ card.passport.date | date: 'dd.MM.yyyy' }}
    </td>
  </tr>

  <tr>
    <td colspan="2" class="edu-document-given-by">
      Закiнчив:
      <span contenteditable ng-model="card.eduDocument.givenBy"></span>
    </td>
    <td colspan="2">
      <span contenteditable ng-model="card.eduDocument.type"></span>
      <b contenteditable ng-model="card.eduDocument.number"></b>
      виданий {{ card.eduDocument.date | date: 'dd.MM.yyyy' }}:
      <b contenteditable ng-model="card.eduDocument.mark"></b>
    </td>
  </tr>

  <tr>
    <td>
      Наказ: <b ng-bind="card.order.number"></b>
    </td>
    <td colspan="3">
    </td>
  </tr>

  <tr>
    <td>
      Контакти
    </td>
    <td colspan="3">
      <div ng-repeat="contact in card.contacts">
        <span ng-bind="contact.type"></span>:
        <span contenteditable ng-model="contact.value"></span>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Пільги
    </td>
    <td colspan="3">
      <div ng-repeat="benefit in card.benefits" ng-bind="benefit"></div>
    </td>
  </tr>

  <tr class="controls">
    <td colspan="999">
      <div class="pull-right">
        <button ng-click="save(card)">Зберегти</button>
        <button ng-click="restore(card)">Відновити</button>
      </div>
    </td>
  </tr>
</table>
