<div class="extraction" ng-repeat="person in info.persons">
  <h2>МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ</h2>
  <h2>ЗАПОРІЗЬКА ДЕРЖАВНА ІНЖЕНЕРНА АКАДЕМІЯ</h2>
  <h1>ВИТЯГ З НАКАЗУ</h1>

  <div class="float-left underlined">
    {{ person.order.date | date: 'dd.MM.yyyy' }}
  </div>
  <div class="float-right underlined">
    № {{ person.order.number }}
  </div>
  <div class="text-align-center">
    м. Запоріжжя
  </div>

  <p class="strong">
    Про зарахування на навчання
  </p>

  <p>Зарахувати:</p>
  <p>
    з <span enrolment-date="person.order.enrolmentDate"></span>
    студентами
    <span enrolment-course="person.order.course"></span> курсу
    <span enrolment-form="person.order.form"></span> форми навчання
    за напрямами (спеціальностями) за <span enrolment-payment="info.contents.order.payment"></span>
    згідно з додатком.
  </p>

  <p class="text-align-center padded">
    <span ng-show="isBachelor(person)">Напрям</span>
    <span ng-hide="isBachelor(person)">Спеціальність</span>
    „<span class="speciality">{{ person.speciality }}</span>”
  </p>

  <p class="list">
    {{ person.number }}. <b ng-bind="person.fio"></b>
  </p>

  <div class="float-right">Є.Я. Швець</div>
  <div>В.о. ректора</div>

  <p>Згідно з оригіналом</p>

  <div class="float-right">М.В. Світанько</div>
  <div>Відповідальний секретар ПК</div>

  <p>{{ getDate() | date: 'dd.MM.yyyy' }}</p>
</div>
