<table class="infocard">
  <thead>
    <th>#</th>
    <th>Фото</th>
    <th>ПІБ</th>
    <th>Дата народження</th>
    <th>Стать</th>
    <th>№ в ЕДБО</th>
    <th>№ наказу</th>
    <th>Дата наказу</th>
    <th>Дата зарахування</th>
    <th>Спеціальність</th>
    <th>Курс</th>
    <th>Форма навч.</th>
    <th>Форма фін.</th>
    <th>ОКР</th>
    <th>Пільги</th>
    <th>Док. про освіту</th>
  </thead>
  <tbody>
    <!-- <tr ng-repeat="infocard in info.contents.persons" ng-if="infocard.isPhoto == 'NO'"> -->
    <tr ng-repeat="person in info.persons">
      <td ng-bind="$index + 1"></td>
      <td class="left">
        <img class="photo" ng-src="data:image/png;base64,{{ person.photo }}" />
      </td>
      <!-- <td class="left" ng-bind="infocard.isPhoto"></td> -->
      <td class="left" ng-bind="person.fio"></td>
      <td>{{ person.birthdate | date: 'dd.MM.yyyy' }}</td>
      <td class="left" ng-bind="person.sex"></td>
      <td class="left">-</td>
      <td ng-bind="person.order.number"></td>
      <td>{{ person.order.date | date: 'dd.MM.yyyy' }}</td>
      <td>{{ person.order.enrolmentDate | date: 'dd.MM.yyyy' }}</td>
      <td class="left" ng-bind="person.speciality"></td>
      <td ng-bind="person.order.course"></td>
      <td ng-bind="person.order.form"></td>
      <td ng-bind="person.order.payment"></td>
      <td ng-bind="person.order.qualification"></td>
      <td class="left">
        <div ng-repeat="benefit in person.benefits" ng-bind="benefit"></div>
      </td>
      <td class="left" ng-bind="person.eduDocument.type"></td>
    </tr>
  </tbody>
</table>
