<div class="overlay-wrapper">
  <header>
    Вибір наказу
    <span class="pull-right" ng-show="$parent.orderDetails">
      &nbsp;
      &times;
    </span>
    <input type="text" class="form-control pull-right search-order"
           placeholder="Search order" ng-model="searchOrder" />
  </header>


  <content class="order-selector">

    <ul class="order-all">
      <li ng-click="select(-1)" ng-class="{ 'selected': selected == -1 }">
        <header>
          <div class="order-number">
            <a href="#" ng-click="chooseAllFilters()">Всі</a>
            <a class="glyphicon glyphicon-check pull-right check-all"
               ng-click="chooseAllFilters()"></a>
            <a class="glyphicon glyphicon-unchecked pull-right uncheck-all"
               ng-click="clearFilters()"></a>
          </div>
          <small>
            <div class="filters">
              <span class="filter">
                <input type="checkbox" id="filter-form-d" ng-model="filters.form.D" />
                <label for="filter-form-d">денна</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-form-z" ng-model="filters.form.Z" />
                <label for="filter-form-z">заочна</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-payment-b" ng-model="filters.payment.B" />
                <label for="filter-payment-b">бюджет</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-payment-c" ng-model="filters.payment.C"/>
                <label for="filter-payment-c">контракт</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-qualification-b1" ng-model="filters.qualification.B1" />
                <label for="filter-qualification-b1">бакалавр</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-qualification-b2" ng-model="filters.qualification.B2" />
                <label for="filter-qualification-b2">бакалавр, на 2 курс</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-qualification-b3" ng-model="filters.qualification.B3" />
                <label for="filter-qualification-b3">бакалавр, на 3 курс</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-qualification-m" ng-model="filters.qualification.M" />
                <label for="filter-qualification-m">магістр</label>
              </span>
              <span class="filter">
                <input type="checkbox" id="filter-qualification-s" ng-model="filters.qualification.S" />
                <label for="filter-qualification-s">спеціаліст</label>
              </span>
            </div>
          </small>
        </header>
        <span class="confirm" ng-click="confirmSelection($event)"></span>
      </li>
    </ul>

    <ul orders-list>
      <li ng-repeat="order in orders | filter:searchOrder" ng-click="select(order)"
          ng-class="{ 'selected': selected == order }">
        <header ng-class="{ 'verified': order.verified }">
          <span class="order-number">
            {{ order.number }}
          </span>
          <small>{{ order.year }}</small>
        </header>
        <content class="details">
          {{ order.form }}
          <span class="order-payment" order="order">{{ order.payment }}</span>
        </content>

        <span class="confirm" ng-click="confirmSelection($event)"></span>
      </li>
    </ul>
    <div ng-show="error">
      Наказів не знайдено.
    </div>
  </content>
</div>
