<table class="persons-view">
  <thead>
    <tr>
      <th>#</th>
      <th>ПІБ</th>
      <th>спеціальність / напрям</th>
    </tr>
  </thead>
  <tbody persons-view-body>
    <tr ng-repeat="person in persons" ng-click="select(person)"
        ng-class="{selected: person.selected}">
      <td>{{ $index + 1 }}</td>
      <td>{{ person.fio }}</td>
      <td>{{ person.speciality }}</td>
    </tr>
  </tbody>
</table>
