<div class="requests-meter">
  <div class="left-side">
    оброблено
    запитів
  </div>
  <div class="right-side">
    <span ng-bind="totalRequests - pendingRequests"></span>
    /
    <span ng-bind="totalRequests"></span>
  </div>
</div>

<div class="button-wrapper separated">
  <button class="primary" ng-click="selectAnotherOrder()">
    Вибрати інший наказ
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="sortPersons()">
    Відсортувати дані
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="selectAll()">
    Обрати всіх
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="unselectAll()">
    Зняти виділення
  </button>
</div>

<div class="separated">
  Згенерувати:
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="generateCards()">
    Картки (деканат)
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="generateExtractions()">
    Витяги
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="generateInfoCards()">
    Картки (уч. відділ)
  </button>
</div>

<div class="button-wrapper">
  <button class="primary" ng-click="generateSpecCards()">
    Картки (спец. відділ)
  </button>
</div>
