<table class="speccard">
  <thead>
    <th>ПІБ</th>
    <th>Дата народження</th>
    <th>Стать</th>
    <th>Спеціальність</th>
    <th>Курс</th>
    <th>Форма навч.</th>
    <th>Форма фін.</th>
    <th>ОКР</th>
    <th>Пільги</th>
    <th>Контакти</th>
  </thead>
  <tbody>
    <tr ng-repeat="person in info.persons">
      <td class="left" ng-bind="person.fio"></td>
      <td>{{ person.birthdate | date: 'dd.MM.yyyy' }}</td>
      <td class="left" ng-bind="person.sex"></td>
      <td class="left" ng-bind="getSpecialityShortName(person.speciality)"></td>
      <td ng-bind="person.order.course"></td>
      <td ng-bind="person.order.form"></td>
      <td ng-bind="person.order.payment"></td>
      <td ng-bind="person.order.qualification"></td>
      <td>
        <span ng-if="person.benefits.length > 0">YES</span>
        <span ng-if="person.benefits.length <= 0">NO</span>
      </td>
      <td class="left">
        <div ng-repeat="contact in person.contacts">
          <span ng-bind="contact.type"></span>
          : 
          <span ng-bind="contact.value"></span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
